h1 {
  position: fixed;
  top: 65px;
  left: 380px;
  font-size: 30px;
  margin-top: 20px;
}
h2 {
  position: fixed;
  font-size: 15px;
  left: 380px;
  top: 110px;
}
h3 {
  position: fixed;
  top: 151px;
  left: 380px;
  font-size: 13px;
}
h4 {
  position: fixed;
  top: 187px;
  left: 380px;
  font-size: 13px;
}

li {
  list-style: none;
  position: relative;
  top: 26px;
  margin: 5px;
  padding: 0;
  line-height: 1.5;
  right: -245px;
  font-size: 11px;
  color: #ffffff;
}
div .card {
  display: block;
  margin: 0 auto;
  width: 50%;
  --bs-card-spacer-y: 4.5rem;
  --bs-card-spacer-x: 10rem;
  background-color: rgb(114, 199, 252);
}
.temperature {
  font-size: 28px;
  position: fixed;
  top: 70px;
  right: 585px;
}

.degree {
  position: fixed;
  right: 570px;
  top: 80px;
  font-size: 13px;
}

.container {
  position: fixed;
  display: block;
  margin: 0 auto;
  width: 50%;
  margin: 458 0 458 0;
  padding: 50px;
  padding-left: 100px;
}
.search-form {
  position: fixed;
  top: 400px;
  margin: 20px;
}
.fa-regular {
  position: fixed;
  right: 153px;
  top: 126px;
  font-size: 38px;
}

.btn.btn-dark {
  position: fixed;
  padding: 10.5px;
  font-size: 10px;
  right: 568px;
  top: 254px;
}
.footer {
  position: fixed;
  left: 340px;
  top: 300px;
}
